@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.about-us {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #fff;
}
.pic {
  height: auto;
  width: 400px;
  border-radius: 12px;
}
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 540px;
}
.text h2 {
  color: #333;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span {
  color: #4070f4;
}
.text p {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
}
.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover {
  background: #000;
}

.skill {
  background-color: white; /* Change to desired color */
  opacity: 1; /* Ensure full opacity */
  z-index: 1; /* Ensure it's above other layers */
  position: relative; /* Helps with stacking */
}

.skill .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
}

.skill .container .content .title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.skill .container .content .skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 80%;
}

.skill .container .content .skills .skill-box {
  padding: 16px;
  border: 2px solid #ddd;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.skill .container .content .skills .skill-box:hover {
  filter: grayscale(0);
  transform: scale(1.05);
  border-color: #4070f4;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill .container .content .skills .skill-box img {
  width: 60%;
  height: auto;
}